<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h3 class="alert alert-warning">Hasta luego {{this.username}}</h3>
</div>

<script>
    setTimeout(()=>{
        location.href ="/login";
    }, 2000)
</script>